################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/obj
/**/bin
/**/*.sln.DotSettings.user
/SF
/SF2
/SF3
/SkeletonCounterFunctions
/GetCounter
/IncreaseCounter
/MessageReciever
